[submodule "dependencies/CustomPiOS"]
	path = src/dependencies/CustomPiOS
	url = https://github.com/guysoft/CustomPiOS.git
	branch = CustomPiOS
[submodule "dependencies/OctoPi"]
	path = src/dependencies/OctoPi
	url = https://github.com/guysoft/OctoPi.git
	branch = devel
